.CentralSphere {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: radial-gradient(circle at 30px, #4fb415, #4b9c63);
    border: solid 2px #0c9437;
    box-shadow: 0 5px 15px #77e736;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CentralSphere .button-off {
    background-color: transparent;
    border: none;
}

