.AEffacer{
  display: flex;
  flex-direction: raw;
  justify-content: center;
}

.AEffacer button {
  height: 50px;
  width: 70px;
}

.TileboardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  background-color: #582900;
}


.TileBoard {
    display: grid;
    width: 512px;
    height: 512px;
    margin: auto;
  }

.allButtons {
  display: flex;
  flex-direction: column;
}

.allButtons button {
  width: 150px;
}
